<div class="prodict__card swiper-slide">
    {% if product.images %}
        <div class="product__image-wrapper">
            <img src="data:image;base64, {{ product.images.0.get_image() }}" title="{{ product.images.0.title|default(product.title, true) }}" alt="{{ product.images.0.title|default(product.title, true) }}">
        </div>
    {% endif %}
    <div class="product__content">
        <div class="product__title">
          {{ product.title }}
        </div>
        {% if product.subtitle %}
            <div class="product__subtitle">
                {{ product.subtitle }}
            </div>
        {% endif %}
        <div class="product__desc">
            {{ product.description }}
        </div>
        <div class="product__buy">
            {% if session.shopping_cart and product.id|string in session.shopping_cart %}
                <div class="btn">
                    Товар в корзине
                </div>
            {% else %}
                <a class="btn btn-add" href="{{ url_for('shopping_cart.add_product', product_id=product.id) }}">Добавить в корзину</a>
            {% endif %}
            <div class="product__add-modal">
                <a href="{{ url_for('shopping_cart.delete_product', product_id=product.id) }}">-</a>

                <div class="product__add-amount">
                    {% if session.shopping_cart and product.id|string in session.shopping_cart %}
                        {{ session.shopping_cart.get(product.id|string) }}
                    {% endif %}
                </div>
                <a href="{{ url_for('shopping_cart.add_product', product_id=product.id) }}">+</a>
            </div>

            <div class="product__price">
                {{ product.price }} руб.
            </div>
        </div>
    </div>
</div>
