{% set product_id = product.id %}
<div class="prodict__card swiper-slide">
    {% if product.images %}
        <div class="product__image-wrapper">
            <img loading="lazy" src="{{ url_for('content.api_images_view', id=product.images.0.image.grid_id, height=600) }}" title="{{ product.images.0.title|default(product.title, true) }}" alt="{{ product.images.0.title|default(product.title, true) }}">
        </div>
    {% endif %}
    <div class="product__content">
        <div class="product__title">
          {{ product.title }}
        </div>
        {% if product.subtitle %}
            <div class="product__subtitle">
                {{ product.subtitle }}
            </div>
        {% endif %}
        <div class="product__desc">
            {{ product.description }}
        </div>
        <div class="product__buy">
            <div class="product__buy-info product-info-js" data-product="{{ product_id }}" data-href="{{ url_for('shopping_cart.add_product', product_id=product_id) }}">
                {% include 'includes/catalog_btn_template.html' %}
            </div>

            <div class="product__price">
                {{ product.price }} руб.
            </div>
        </div>
    </div>
</div>
