<form action="{{ url_for('feedback.basket_feedback') }}" novalidate method="POST" id="basket_form" class="feedback-form basket__form">

    {{ basket_form.csrf_token() }}

    <h3 class="block__title content-title-green">
        Заполните форму обратной связи
    </h3>

    <fieldset class="form__fieldset">
        <input class="{% if basket_form.name.errors %}error{% endif %}" type="text" name="name" required placeholder="Ваше имя" {% if basket_form.data.name %}value="{{ basket_form.data.name }}"{% endif %}>
        <input class="{% if basket_form.email.errors %}error{% endif %}" type="email" name="email" placeholder="E-mail" {% if basket_form.data.email %}value="{{ basket_form.data.email }}"{% endif %}>
        <input class="{% if basket_form.phone.errors %}error{% endif %}" type="text" name="phone" required placeholder="Ваш телефон" {% if basket_form.data.phone %}value="{{ basket_form.data.phone }}"{% endif %}>
        <input class="{% if basket_form.city.errors %}error{% endif %}" type="text" name="city" required placeholder="Город" {% if basket_form.data.city %}value="{{ basket_form.data.city }}"{% endif %}>
        <textarea class="{% if basket_form.address.errors %}error{% endif %}" name="address" required rows="5" placeholder="Адрес">{% if basket_form.data.address %}{{ basket_form.data.address }}{% endif %}</textarea>
        <input class="{% if basket_form.post_index.errors %}error{% endif %}" type="text" name="post_index" placeholder="Почтовый индекс" {% if basket_form.data.post_index %}value="{{ basket_form.data.post_index }}"{% endif %}>
        <textarea class="{% if basket_form.comment.errors %}error{% endif %}" name="comment" rows="5" placeholder="Комментарий">{% if basket_form.data.comment %}{{ basket_form.data.comment }}{% endif %}</textarea>

        <button type="submit" class="btn">Отправить</button>
    </fieldset>
</form>
