.catalog__section
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/catalog-bg.jpg') #000 no-repeat
    background-size: cover

    .catalog__content
        color: $beige-color
        padding: 100px 50px 50px
        text-shadow: $green-shadow

        @media screen and (max-width: $xs-max)
            padding: 50px 0

        .catalog__slider
            display: block
            margin-top: 80px
            overflow: hidden
            position: relative
            min-height: 500px

            @media screen and (max-width: $sm-max)
                margin-top: 0

            .catalog__slider-wrapper

                .prodict__card
                    display: flex
                    align-items: center
                    justify-content: space-around

                    @media screen and (max-width: $sm-max)
                        flex-direction: column

                    .product__image-wrapper
                        max-width: 40%

                        @media screen and (max-width: $sm-max)
                            max-width: 80%

                        img
                            max-height: 350px
                            border-radius: 3px
                            box-shadow: $beige-shadow

                            @media screen and (max-width: $sm-max)
                                max-height: 200px


                    .product__content
                        max-width: 40%
                        padding: 15px
                        text-align: center

                        @media screen and (max-width: $sm-max)
                            max-width: 80%

                        .product__title
                            font-size: 42px
                            font-weight: 600
                            letter-spacing: 3px

                            @media screen and (max-width: $sm-max)
                                font-size: 32px

                            @media screen and (max-width: $xs-max)
                                font-size: 24px

                        .product__title:after
                            content: ''
                            width: 50px
                            height: 5px
                            border-radius: 50px
                            margin: 20px auto 0px
                            display: block
                            background: $green-color

                            @media screen and (max-width: $sm-max)
                                display: none

                        .product__subtitle
                            margin-top: 20px
                            font-size: 24px
                            line-height: 20px
                            font-weight: 600

                            @media screen and (max-width: $sm-max)
                                font-size: 20px

                            @media screen and (max-width: $xs-max)
                                font-size: 18px

                        .product__desc
                            margin-top: 10px
                            font-size: 16px
                            line-height: 20px

                            @media screen and (max-width: $xs-max)
                                font-size: 14px

                        .product__buy
                            margin-top: 30px
                            display: flex
                            justify-content: space-around

                            @media screen and (max-width: $sm-max)
                                margin-top: 10px

                            .product__price
                                font-size: 28px
                                text-align: right
                                font-weight: bold
                                vertical-align: middle

                                @media screen and (max-width: $xs-max)
                                    font-size: 18px

                            .basket-info
                                border: solid 2px $green-color
                                border-radius: 5px
                                padding: 10px
                                @include centered-content

                                @media screen and (max-width: $sm-max)
                                    padding: 5px
                                    font-size: 14px


                                .basket__amount-wrapper
                                    margin-left: 20px
                                    @include centered-content
                                    font-size: 18px

                                    @media screen and (max-width: $sm-max)
                                        margin-left: 10px
                                        font-size: 16px

                                    a
                                        font-weight: 600

                                    a:hover
                                        text-decoration: none

                                    .basket__amount
                                        margin-left: 10px
                                        margin-right: 10px

            /* slider navigation */

            .catalog__slider-btn:after
                transition: ease all 0.5s

            .catalog__slider-btn:after
                color: $beige-color

            .catalog__slider-btn:hover:after
                color: $green-color
