.contacts__content
    color: $dark-green-color
    padding: 100px 50px

    @media screen and (max-width: $xs-max)
        padding: 50px 0

    .content__block
        display: flex
        align-items: start
        justify-content: space-around

        @media screen and (max-width: $sm-max)
            flex-direction: column
            justify-content: center
            align-items: center

        .contacts__block
            @include centered-content
            flex-direction: column
            width: 40%
            text-align: center

            @media screen and (max-width: $sm-max)
                width: 80%

            .contacts__list
                @include centered-content
                width: 100%

                @media screen and (max-width: $xs-max)
                    flex-direction: column

                .contact-link
                    text-decoration: none
                    display: flex
                    justify-content: start
                    align-items: center
                    margin: 0 10px
                    transition: ease transform 0.5s

                    .contact__icon
                        svg
                            height: 100px
                            width: 100px

                .contact-link:hover
                    transform: scale(1.1)

        .form-wrapper
            width: 40%
            text-align: center

            @media screen and (max-width: $sm-max)
                margin-top: 30px
                width: 80%
