.contacts__content
    color: $dark-green-color
    padding: 100px 50px

    .content__block
        display: flex
        align-items: start
        justify-content: space-around

        .contacts__title
            font-size: 36px
            font-weight: 500
            margin-bottom: 30px

        .contacts__block
            @include centered-content
            flex-direction: column
            width: 40%

            .contacts__list
                @include centered-content
                width: 100%

                .contact-link
                    text-decoration: none
                    display: flex
                    justify-content: start
                    align-items: center
                    margin: 0 10px
                    transition: ease transform 0.5s

                    .contact__icon
                        svg
                            height: 100px
                            width: 100px

                .contact-link:hover
                    transform: scale(1.1)

        .form-wrapper
            width: 40%
