.order__section

    .order__content
        color: $dark-green-color
        padding: 100px 50px

        @media screen and (max-width: $xs-max)
            padding: 50px 0

        .step__block
            display: flex
            align-items: center
            justify-content: space-around
            margin-top: 50px

            @media screen and (max-width: $sm-max)
                flex-direction: column-reverse
                margin-top: 20px

            .step__icon
                width: 40%
                @include centered-content
                &-wrapper
                    @include centered-content
                    background: $grey-color
                    border-radius: 50%
                    padding: 40px
                    svg
                        width: 150px
                        height: 150px
            &-text
                width: 60%
                display: flex
                align-items: center

                @media screen and (max-width: $sm-max)
                    width: 100%

                .text-loop
                    text-shadow: $black-solid-shadow
                    font-size: 100px
                    font-weight: 500
                    color: $green-color

                .text-wrapper
                    margin-left: 40px
                    padding: 0 10px

                    @media screen and (max-width: $xs-max)
                        margin-left: 10px

                    .step__description
                        a:hover
                            text-decoration: none
                            transform: scale(1.1)
