.content-title
    font-size: 54px
    letter-spacing: 3px
    font-weight: bold
    text-align: center
    text-transform: uppercase
    font-weight: bold
    margin-bottom: 50px
    font-family: 'Comfortaa', sans-
    &-green
        text-shadow: $green-shadow

.block__title
    font:
        size: 38px
        weight: bold
    margin-bottom: 20px
    width: 100%


.block__description
    font-size: 30px
    font-weight: 500


.content__block-image
    width: 350px
    position: relative


.btn
    padding: 10px
    font-size: 16px
    border: none
    border-radius: 3px
    cursor: pointer
    font-weight: 700
    transition: ease all 0.5s

.btn:hover
    text-decoration: none

@keyframes move
    0%
        transform: translateY(-5px)
    25%
        transform: translateY(5px)
    50%
        transform: translateY(-5px)
    75%
        transform: translateY(5px)
    100%
        transform: translateY(-5px)
