/* Colors */

$green-color: #678d72

$dark-green-color: #52715b

$darkest-green-color: #314336

$beige-color: #f7f7c4

$yellow-color: #e9d390

$grey-color: #E5E5E5


/* Shadows */

$green-shadow: 0 0 5px rgba(103, 141, 114, 0.6)

$beige-shadow: 0 0 5px rgba(248, 248, 217, 0.6)

$black-solid-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000

//Media
$lg-max: 1650px
$lg-min: 1280px
$md-max: 1279px
$md-min-main: 1025px
$md-min: 1024px
$sm-max: 1023px
$sm-min: 768px
$xs-max: 767px
