body {
  font-size: 16px;
}

.container {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
}

.content-title {
  font-size: 54px;
  letter-spacing: 3px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 50px;
}

.block__title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  width: 100%;
}

.content__block-image {
  width: 350px;
  position: relative;
}

.content__block {
  padding-left: 70px;
  padding-right: 70px;
}

.btn {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background: #678d72;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
}
.header .header__block {
  height: 50px;
  background: linear-gradient(to right, rgb(75, 105, 84), rgb(103, 141, 114));
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.header .header__block .header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  hight: 75px;
  text-decoration: none;
  color: #f3eed8;
  text-transform: uppercase;
  letter-spacing: 1px;
  vertical-align: middle;
}
.header .header__block .header__menu-list {
  width: 100%;
  height: 100%;
  display: flex;
}
.header .header__block .header__menu-list .menu__item {
  align-items: center;
  display: flex;
}
.header .header__block .header__menu-list .menu__item a {
  color: #f3eed8;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 3px;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  transition: all 1s ease;
}
.header .header__block .header__menu-list .menu__item a:hover {
  color: #4a424d;
  background: #f3eed8;
}

.about__content {
  background: #FFF;
  color: #678d72;
  padding: 100px 0px;
}
.about__content .advantage__block:nth-child(2n) .advantage__block-text {
  order: -1;
}
.about__content .advantage__block {
  display: flex;
  font-size: 24px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 500px;
}
.about__content .advantage__block .image-wrapper {
  height: 400px;
  background: url("../img/candles.jpg") no-repeat;
  background-size: cover;
  border-radius: 50%;
}
.about__content .advantage__block .advantage__block-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1.25;
}
.about__content .advantage__block .advantage__block-text .advantage__block-description {
  width: 100%;
  margin-left: 20px;
}
.about__content .advantage__block .advantage__block-text .content__list > li:before {
  content: "-";
  text-weight: bold;
}
.about__content .advantage__block > div {
  width: 40%;
}

.hero_block {
  padding: 150px 0;
  display: flex;
  justify-content: center;
  background: #678d72;
}
.hero_block .hero_block__content {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.hero_block .hero_block__content .hero_block__images {
  margin-bottom: 20px;
}
.hero_block .hero_block__content .hero_block__images .image-anise, .hero_block .hero_block__content .hero_block__images .image-candle {
  width: 120px;
}
.hero_block .hero_block__content .hero_block__images .image-cup {
  width: 100px;
}
.hero_block .hero_block__content .hero-title {
  font-size: 24px;
  letter-spacing: 3px;
}
.hero_block .hero_block__content .hero-title:after {
  background: #fff;
  width: 50px;
  height: 4px;
  content: "";
  border-radius: 50px;
  display: flex;
  margin: auto;
  margin-top: 30px;
}
.hero_block .hero_block__content .hero-subtitle {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  position: relative;
}
.hero_block .hero_block__content .hero-subtitle .subtitle-bold {
  font-weight: 700;
}
.hero_block .hero_block__content .hero-subtitle .subtitle-bold:after {
  content: "";
  background: url(../img/laurel_leaves.svg);
  background-size: cover;
  width: 50px;
  height: 50px;
  display: block;
  transform: rotate(25deg);
  position: absolute;
  top: -45px;
  right: 30px;
}
.hero_block .hero_block__content .hero-subtitle .subtitle-small {
  font-size: 12px;
  font-weight: 600;
  margin-top: 5px;
}

.catalog__content {
  box-shadow: inset 0 10px 40px rgb(255, 255, 255);
  background: #f3eed8;
  color: #678d72;
  padding: 100px 50px;
}
.catalog__content .products__slider {
  display: flex;
  justify-content: space-around;
}
.catalog__content .products__slider .prodict__card {
  width: 55vh;
  box-shadow: 0 0 10px rgba(103, 141, 114, 0.3);
  background: #fff;
}
.catalog__content .products__slider .prodict__card .product__content {
  padding: 15px;
}
.catalog__content .products__slider .prodict__card .product__content .product__title {
  font-size: 32px;
  font-weight: bold;
}
.catalog__content .products__slider .prodict__card .product__content .product__desc {
  margin-top: 15px;
  font-size: 18px;
}
.catalog__content .products__slider .prodict__card .product__content .product__buy {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.catalog__content .products__slider .prodict__card .product__content .product__buy .product__price {
  font-size: 28px;
  text-align: right;
  font-weight: bold;
}

/*# sourceMappingURL=compile_sass.css.map */
