{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    <label>
      Название
      <input name="title" id="title" value="{{ request.form['title'] }}" required>
    </label>
    <label>
      Описание товара
      <textarea name="description">{{ request.form['description'] }}</textarea>
    </label>
    <label>
      Цена
      <input type="number" name="price">
      руб.
    </label>
    <label>
      Изображение
      <input type="file" name="image">
    </label>
    <button type="submit">Сохранить</button>
  </form>
{% endblock %}
