<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <title>Авторизация</title>
  </head>
  <body>
    <form method="post">
      <label>
        Имя пользователя:
        <input name="login" id="login" required placeholder="Введите ваш логин">
      </label>
      <label>
        E-mail:
        <input name="email" id="email" required placeholder="Введите ваш e-mail">
      </label>
      <label>
        Пароль:
        <input type="password" name="password" id="password" required placeholder="Введите пароль">
      </label>
      <input type="submit" value="Войти">
    </form>
  </body>
</html>
